body {
    font-family: Arial;
    padding: 0;
    margin: 0;
    /* background-color: #dbd6d6; */

}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.mycontent {
    padding: 5px 15px;
    color: #051544;
    font-size: 19px;
    background-color: #fcfcfc;
}

#id_username,#id_password,#id_email,#id_password1,#id_password2{
  width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
}


#login{
    width: 100px;
    font-size: 20px;
}
